<!-- <h1>COMPONENT: home</h1> -->

<div masonry class="masonryGrid" id="masonryGridID">

    <ngx-masonry [options]="masonryOptions">
        <div ngxMasonryItem class="masonryItem" *ngFor="let picture of masonryImages">
            <img src="{{ picture.Directory }}{{ picture.FileName }}" width="100%" draggable="false" />
            <!-- <a routerLink="/fitness"><img src="{{ picture.Directory }}{{ picture.FileName }}" width="100%" draggable="false" /></a> -->
        </div>
    </ngx-masonry>

<!-- 
    <div class="masonryNav">
        <button *ngIf="limit < womenItems.length" (click)="showMoreImages()">Show More Images</button>
        <button *ngIf="limit < womenItems.length" (click)="insertImage()">Insert Image</button>
        <button *ngIf="masonryImages" (click)="removeImage()">Remove Image</button>
        <h2 *ngIf="limit >= womenItems.length">No More Images</h2>
    </div>
 -->

</div>
