<!-- <h1>COMPONENT: sidenav</h1> -->
<!-- REF: https://stackoverflow.com/questions/45847994/angular-2-material-sidenav-how-to-remove-backdrop -->


<!-- <button class="btnTest" (click)="sidenav.toggle()">Open</button> -->
<!-- <button class="burger" mat-icon-button><mat-icon (click)="sidenav.toggle()">menu</mat-icon></button> -->
<!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->

<!-- <mat-sidenav-container> -->
<mat-sidenav-container [hasBackdrop]="false">
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>

    <mat-sidenav #sidenav mode="over" position="end">
        <div *ngFor="let navItem of navItems" cdkFocusRegionStart>
            <button mat-button [attr.gallery]="navItem.gallery" routerLink="/{{ navItem.gallery }}" (click)="navClick()">{{ navItem.menuItem }}</button>
        </div>
    </mat-sidenav>
</mat-sidenav-container>

<!-- <button class="burger" mat-icon-button><mat-icon (click)="sidenav.toggle()">menu</mat-icon></button> -->
