<!-- <h1>COMPONENT: about</h1> -->

<div class="about">

    <!-- <h1>{{ title }}</h1> -->

    <p>Chuck Baker began his lifetime career in photography at an early age - sweeping floors in a camera shop at the age of twelve and going on assignment for <i>The Dallas Times Herald</i> before his sixteenth birthday. After spending three years shooting still lifes for Neiman Marcus in Texas, Chuck moved to New York City to open a studio.</p>
    <p>Capturing people in the midst of every day activities while somehow portraying these moments as much deeper and graphic experiences, Chuck Baker’s style was quickly discovered by the legendary Carrie Donovan. She hired him to create four entire new sections of <i>The Men’s Fashion of The Times</i>, followed by hundreds of pages of women’s fashion features, which then resulted in an impressive list of clients.</p>
    <p><b>Editorial Clients:</b> <i>The New York Times</i>, <i>Vogue</i>, <i>Italian Harpers Baazar</i>, <i>Cosmopolitan</i>, <i>Playboy</i>, <i>Seventeen</i>, <i>Elle</i>, <i>Elle Décor</i>, <i>Marie Claire</i>, <i>House Beautiful</i>, <i>House and Garden</i>, <i>New York Magazine</i>, <i>Martha Stewart Living</i> and <i>Hampton’s Country</i></p>
    <p><b>Advertising Clients:</b> Neiman Marcus, Ralph Lauren, Calvin Klein, Debeers Diamonds Virginia Slims, Izod, Cover Girl Cosmetics, Nautica, Russell Athletic, Bloomindales, Saks Fifth Ave, JH Cohen and Victoria's Secret</p>

    <div class="contact">
        <p>
            <b>CHUCK BAKER PHOTOGRAPHY</b><br>
            42-24 Ninth Street<br>
            Long Island City, NY 11101<br>
        </p>
        <p>
            Cell 917-447-1219<br>
            e-mail: <a href="mailto:nyfotoman@aol.com">nyfotoman@aol.com</a>
        </p>
    </div>
</div>




<!-- =========================================================================== -->
<!-- // REF: https://github.com/ManuCutillas/ngx-responsive/tree/master/examples -->
<!-- =========================================================================== -->

<div class="testContainer">

    <h2>***** Something should happen below if ngx-responsive is working... *****</h2>
    <p>NOTE: the messages DO NOT represent proper syntax!</p>


    <!-- =========================================================================== -->
    <h3>*is[...]</h3>
    <hr>

    <p *isSafari>I'll show if I'm a Safari browser. &nbsp;&nbsp;&nbsp; *isSafari</p>
    <p *isIphone>I'll show if I'm a iPhone device. &nbsp;&nbsp;&nbsp; *isIphone</p>
    <p *isChrome>I'll show if I'm a chrome browser. &nbsp;&nbsp;&nbsp; *isChrome</p>
    <p *isDesktop>I'll show if I'm a desktop. &nbsp;&nbsp;&nbsp; *isDesktop</p>
    <br>
    <p *isPortrait>I'll show you if I'm a portrait state. &nbsp;&nbsp;&nbsp; *isPortrait</p>
    <p *isLandscape>I'll show you if I'm a landscape state. &nbsp;&nbsp;&nbsp; *isLandscape</p>


    <!-- =========================================================================== -->

    <h3>*showIt[...]</h3>
    <hr>

    <p *showItStandard="['android mobile','windows phone']">I'll show you if I'm a android mobile or a windows phone device. &nbsp;&nbsp;&nbsp; *showItStandard = [android mobile, windows phone]</p>
    <p *showItStandard="['iphone','ipad']">I'll show if I'm a iPhone or ipad device. &nbsp;&nbsp;&nbsp; *showItStandard = [iphone, ipad]</p>
    <br>
    <p *showItSizes="{min:955,max:1057}">I'll show if responsive-window width is between the min and max. &nbsp;&nbsp;&nbsp; *showItSizes = (min:955,max:1057)</p>
    <p *showItSizes="{min:750}">I'll show if responsive-window width is greater than or equal to min. &nbsp;&nbsp;&nbsp; *showItSizes = (min:750)</p>
    <br>
    <p *showItDevice="['mobile']">I'll show if I'm a mobile device. &nbsp;&nbsp;&nbsp; *showItDevice = [mobile]</p>
    <p *showItDevice="['tablet']">I'll show if I'm a tablet device. &nbsp;&nbsp;&nbsp; *showItDevice = [mobile]</p>
    <p *showItDevice="['desktop']">I'll show if I'm a desktop device. &nbsp;&nbsp;&nbsp; *showItDevice = [desktop]</p>
    <p *showItDevice="['mobile','tablet']">I'll show if I'm a tablet or a mobile device. &nbsp;&nbsp;&nbsp; *showItDevice = [mobile, tablet]</p>
    <p *showItDevice="['mobile','tablet','desktop']">I'll show if I'm a desktop or tablet or a mobile device. &nbsp;&nbsp;&nbsp; *showItDevice = [mobile, tablet, desktop]</p>


    <!-- =========================================================================== -->
    <h3>*hideIt[...]</h3>
    <hr>

    <p *hideItSizes="{min:360,max:768}">This is hidden if responsive-window width between the min and max. &nbsp;&nbsp;&nbsp; *hideItSizes = (min:360, max:768) &nbsp;&nbsp;&nbsp; </p>
    <br>
    <p *hideItDevice="['mobile']">I'll hide if I'm a mobile device. &nbsp;&nbsp;&nbsp; *hideItDevice = [mobile]</p>
    <p *hideItDevice="['tablet']">I'll hide if I'm a tablet device. &nbsp;&nbsp;&nbsp; *hideItDevice = [tablet]</p>
    <p *hideItDevice="['desktop']">I'll hide if I'm a desktop device. &nbsp;&nbsp;&nbsp; *hideItDevice = [desktop]</p>
    <p *hideItDevice="['mobile','tablet']">I'll hide if I'm a tablet or mobile device. &nbsp;&nbsp;&nbsp; *hideItDevice = [mobile, tablet]</p>
    <p *hideItDevice="['mobile','tablet','desktop']">I'll hide if I'm a desktop or tablet or mobile device. &nbsp;&nbsp;&nbsp; *hideItDevice = [mobile, tablet, desktop]</p>


    <!-- =========================================================================== -->
    <h3>*[custom breakpoints]</h3>
    <hr>

    <p *xl>I'll show if I'm a xl screen size. &nbsp;&nbsp;&nbsp; *xl</p>
    <p *lg>I'll show if I'm a lg screen size. &nbsp;&nbsp;&nbsp; *lg</p>
    <p *md>I'll show if I'm a md screen size. &nbsp;&nbsp;&nbsp; *md</p>
    <p *sm>I'll show if I'm a sm screen size. &nbsp;&nbsp;&nbsp; *sm</p>
    <p *xs>I'll show if I'm a xs screen size. &nbsp;&nbsp;&nbsp; *xs</p>
    <br>
    <ng-template [responsive]="{bootstrap: ['xl','lg','md','sm','xs']}">
        <p>Blahbity, Blabity, Blah.... &nbsp;&nbsp;&nbsp; </p>
        <p *xl>I'll show if I'm a xl screen size. &nbsp;&nbsp;&nbsp; *xl</p>
        <p *lg>I'll show if I'm a lg screen size. &nbsp;&nbsp;&nbsp; *lg</p>
        <p *md>I'll show if I'm a md screen size. &nbsp;&nbsp;&nbsp; *md</p>
        <p *sm>I'll show if I'm a sm screen size. &nbsp;&nbsp;&nbsp; *sm</p>
        <p *xs>I'll show if I'm a xs screen size. &nbsp;&nbsp;&nbsp; *xs</p>
    </ng-template>
    <br>
    <div *xl>HELLO XL</div>
    <div *lg>HELLO LG</div>
    <div *md>HELLO MD</div>
    <div *sm>HELLO SM</div>
    <div *xs>HELLO XS</div>


    <!-- =========================================================================== -->
    <h3>thisUserAgent</h3>
    <hr>

    <user-agent-info (info)="thisUserAgent($event)">
        (info) = thisUserAgent($event) = {{ userAgentData }}
        <br>
        userAgentData.browser = {{ userAgentData.browser }}
    </user-agent-info>

</div>