<!-- <h1>COMPONENT: nav</h1> -->
<!-- REF: https://github.com/ManuCutillas/ngx-responsive -->


<mat-toolbar class="fixed-header" color="gray">

    <img class="navLogo" src="assets/images/0elements/cbaker_logo.svg" routerLink="/">

    <!-- <ng-container *showItDevice="['desktop']"> -->
    <!-- <ng-container *showItSizes="{min:1025}"> -->
    <ng-container *showItSizes="{min:1240}">
        <div *ngFor="let navItem of navItems">
            <button mat-button [title]="navItem.gallery" routerLink="/{{ navItem.gallery }}">{{ navItem.menuItem }}</button>
            <!-- <button mat-button [title]="navItem.gallery" routerLink="/{{ navItem.gallery }}" (click)="navToggle()">{{ navItem.menuItem }}</button> -->
            <!-- <button mat-button [title]="navItem.gallery" routerLink="/{{ navItem.gallery }}" (click)="navClose()">{{ navItem.menuItem }}</button> -->
        </div>
    </ng-container>

    <span class="fill-remaining-space"></span>
    <!-- <mat-icon class="navClick" (click)="navToggle()">menu</mat-icon> -->
    <!-- <mat-icon (click)="navToggle()">menu</mat-icon> -->
    <!-- <mat-icon (click)="navToggle()" *hideItDevice="['desktop']">menu</mat-icon> -->
    <!-- <mat-icon (click)="navToggle()" *showItSizes="{max:1025}">menu</mat-icon> -->
    <mat-icon (click)="navToggle()" *showItSizes="{max:1240}">menu</mat-icon>

</mat-toolbar>

<!-- 
<mat-sidenav-container [hasBackdrop]="false">
<mat-sidenav #sidenav mode="over" position="end">
    <div *ngFor="let navItem of navItems" cdkFocusRegionStart>
        <button mat-button [attr.gallery]="navItem.gallery" routerLink="/{{ navItem.gallery }}" (click)="navToggle()">{{ navItem.menuItem }}</button>
        <button mat-button [attr.gallery]="navItem.gallery" routerLink="/{{ navItem.gallery }}" (click)="sidenav.toggle()">{{ navItem.menuItem }}</button>
    </div>
</mat-sidenav>
</mat-sidenav-container>
-->

<!-- <app-sidenav></app-sidenav> -->
<!-- <app-sidenav *showItSizes="{max:1025}"></app-sidenav> -->
<app-sidenav *showItSizes="{max:1240}"></app-sidenav>
